.annotation__paragraph {
  margin: 0;
  padding-top: 30px;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  color: #000;
}

@media (max-width: 1300px) {
  .annotation__paragraph {
    padding-top: 0;
    font-size: 15px;
  }
}
