.buttons-list {
  margin: 0 auto;
  padding: 25px 0 80px;
  max-width: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

@media (max-width: 1300px) {
  .buttons-list {
    padding: 5px 0 50px;
    max-width: 750px;
  }
}

@media (max-width: 850px) {
  .buttons-list {
    max-width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0 30px;
    overflow: auto;
    white-space: nowrap;
  }
}

.buttons-list::-webkit-scrollbar-thumb {
  background-color: #f3f2f2;
}
