.section-subtitle {
  margin: 0;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: .2px;
  text-align: center;
  color: #464646;
  -webkit-line-clamp: 3; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1300px) {
  .section-subtitle {
    font-size: 12px;
    line-height: 1.4;
  }
}
