.bbbs-logo {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-image: url(../../images/logo-bbbs.svg);
  background-position: center;
  background-repeat: no-repeat;
}
