.bbbs-logo {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 252px;
  height: 46px;
  background-image: url(../../images/logo-bbbs.svg);
  background-size: 252px 46px;
  background-position: center;
  background-repeat: no-repeat;
}
