.problem__section-title {
  max-width: 770px;
  text-align: left;
}

@media (max-width: 1500px) {
  .problem__section-title {
    max-width: 670px;
  }
}

@media (max-width: 1300px) {
  .problem__section-title {
    max-width: 91.6%;
  }
}
