.footer__text_type_copyright {
  margin-bottom: 12px;
}

@media (max-width: 1300px) {
  .footer__text_type_copyright {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (max-width: 1023px) {
  .footer__text_type_copyright {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
