.menu__list_place_footer {
  flex-direction: column;
  margin: 0;
  margin-right: 44px;
  padding: 0;
}

@media (max-width: 1300px) {
  .menu__list_place_footer {
    flex-direction: row;
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .menu__list_place_footer {
    margin: 21px auto 0;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 329px) {
  .menu__list_place_footer {
    padding-bottom: 21px;
  }
}
