.movie-page__card-slider {
  display: none;
}

.movie-page__card-slider:nth-child(-n + 16) {
  display: block;
}

@media (max-width: 1300px) {
  .movie-page__card-slider:nth-child(-n + 4) {
    display: block;
  }

  .movie-page__card-slider:nth-last-child(-n + 12) {
    display: none;
  }
}

@media (max-width: 850px) {
  .movie-page__card-slider:nth-child(-n + 2) {
    display: block;
  }

  .movie-page__card-slider:nth-last-child(-n + 14) {
    display: none;
  }
}
