.menu-buttons__item {
  width: 20px;
  height: 20px;
}

.menu-buttons__item:first-of-type {
  padding-right: 15px;
  border-right: .7px solid #a7a6a6;
}

.menu-buttons__item:last-of-type {
  padding-left: 15px;
}

@media (max-width: 1400px) {
  .menu-buttons__item:first-of-type {
    border-right: 0px;
  }

  .menu-buttons__item:last-of-type {
    display: none;
  }
}
