.section-subtitle {
  padding-top: 5px;
  max-width: 90%;
}

@media (max-width: 1500px) {
  .section-subtitle {
    max-width: 84%;
  }
}

@media (max-width: 1300px) {
  .section-subtitle {
    max-width: 91%;
  }
}

@media (max-width: 850px) {
  .section-subtitle {
    max-width: 89%;
  }
}
