.about__quote {
  margin: 80px auto;
  padding: 60px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

@media (max-width: 1300px) {
  .about__quote {
    padding: 30px 0;
  }
}

@media (max-width: 1300px) {
  .about__quote {
    margin: 50px auto;
  }
}
