@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/section/section.css);
@import url(../blocks/logo-link/logo-link.css);
@import url(../blocks/logo/logo.css);

@import url(../blocks/bbbs-logo/bbbs-logo.css);
@import url(../blocks/bbbs-logo/_place/bbbs-logo_place_index.css);


@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/_place/menu_place_header.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu-buttons/menu-buttons.css);
@import url(../blocks/menu-buttons/__item/menu-buttons__item.css);
@import url(../blocks/menu-button/menu-button.css);
@import url(../blocks/menu-button/_type/menu-button_type_search.css);
@import url(../blocks/menu-button/_type/menu-button_type_private-area.css);
@import url(../blocks/menu-button/_authorized/menu-button_authorized.css);
@import url(../blocks/burger/burger.css);
@import url(../blocks/content/content.css);
@import url(../blocks/project-info/project-info.css);
@import url(../blocks/project-info/__container/project-info__container.css);
@import url(../blocks/project-info/__text/project-info__text.css);
@import url(../blocks/bbbs-logo/bbbs-logo.css);
@import url(../blocks/main-history/main-history.css);
@import url(../blocks/main-history/__title/main-history__title.css);
@import url(../blocks/mentor/mentor.css);
@import url(../blocks/heading/heading.css);
@import url(../blocks/heading/__text/heading__text.css);
@import url(../blocks/choosing-mentor/choosing-mentor.css);
@import url(../blocks/choosing-mentor/__title/choosing-mentor__title.css);
@import url(../blocks/choosing-mentor/__subtitle/choosing-mentor__subtitle.css);
@import url(../blocks/choosing-mentor/__image/choosing-mentor__image.css);
@import url(../blocks/footer-subtitle/footer-subtitle.css);
@import url(../blocks/annotation/annotation.css);
@import url(../blocks/annotation/__title/annotation__title.css);
@import url(../blocks/annotation/__text/annotation__text.css);
@import url(../blocks/annotation/__paragraph/annotation__paragraph.css);
@import url(../blocks/main-article/main-article.css);
@import url(../blocks/main-article/_color/main-article_color_light-blue.css);
@import url(../blocks/main-article/_color/main-article_color_green.css);
@import url(../blocks/main-article/__text/main-article__text.css);
@import url(../blocks/movies/movies.css);
@import url(../blocks/movies/__list/movies__list.css);
@import url(../blocks/movie/movie.css);
@import url(../blocks/movie/__image/movie__image.css);
@import url(../blocks/movie/__info/movie__info.css);
@import url(../blocks/movie/__title/movie__title.css);
@import url(../blocks/movie/__authors/movie__authors.css);
@import url(../blocks/movie/__container/movie__container.css);
@import url(../blocks/movie/__heading-container/movie__heading-container.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/graduates-info/graduates-info.css);
@import url(../blocks/ether/ether.css);
@import url(../blocks/graduates/graduates.css);
@import url(../blocks/social-problems/social-problems.css);
@import url(../blocks/main-problems/main-problems.css);
@import url(../blocks/problem/problem.css);
@import url(../blocks/problem/__section-title/problem__section-title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/menu/__list/_place/menu-list_place_footer.css);
@import url(../blocks/menu/__link/_place/menu__link_place_footer.css);
@import url(../blocks/menu/__item/_place/menu__item_place_footer.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_place/button_place_footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/menu/_place/menu_place_footer.css);
@import url(../blocks/footer/__text/_type/footer__text_type_design.css);
@import url(../blocks/footer/__text/_type/footer__text_type_copyright.css);
@import url(../blocks/footer/__description/footer__description.css);

@import url(../blocks/calendar/calendar.css);
@import url(../blocks/calendar/__button/calendar__button.css);
@import url(../blocks/calendar/__content/calendar__content.css);
@import url(../blocks/calendar/__date/calendar__date.css);
@import url(../blocks/calendar/__day/calendar__day.css);
@import url(../blocks/calendar/__footer/calendar__footer.css);
@import url(../blocks/calendar/__header/calendar__header.css);
@import url(../blocks/calendar/__name/calendar__name.css);
@import url(../blocks/calendar/__number/calendar__number.css);
@import url(../blocks/calendar/__participants/calendar__participants.css);
@import url(../blocks/calendar/__participation/calendar__participation.css);
@import url(../blocks/calendar/__section-title/calendar__section-title.css);
@import url(../blocks/calendar/__signature/calendar__signature.css);
@import url(../blocks/calendar/__text/calendar__text.css);
@import url(../blocks/calendar/__text/_type/calendar__text_type_address.css);
@import url(../blocks/calendar/__text/_type/calendar__text_type_people.css);
@import url(../blocks/calendar/__text/_type/calendar__text_type_time.css);
@import url(../blocks/button/_color/button_color_blue.css);


@import url(../blocks/movie/__footer-subtitle/movie__footer-subtitle.css);
@import url(../blocks/movie/__section-title/movie__section-title.css);

@import url(../blocks/choosing-mentor/__section-title/choosing-mentor__section-title.css);

@import url(../blocks/annotation/__content/annotation__content.css);

@import url(../blocks/ether/__footer-subtitle/ether__footer-subtitle.css);

@import url(../blocks/facebook/facebook.css);

@import url(../blocks/problem/__heading/problem__heading.css);

@import url(../blocks/button/_place/button_place_calendar.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__movie/main__movie.css);

@import url(../blocks/movie/__info/movie__info.css);

@import url(../blocks/menu/__list/_content/menu__list_content_socials.css);

@import url(../blocks/search-form/search-form.css);
@import url(../blocks/search-form/__input/search-form__input.css);
@import url(../blocks/search-form/_active/search-form_active.css);
@media (max-width: 1500px) {
  .project-info__text {
    padding: 72.5px 0;
    max-width: 510px;
  }


}

@media (max-width: 1300px) {
  .project-info__text {
    padding: 89px 0;
    font-size: 19px;
    max-width: 340px;
  }
  .project-info__container {
    border-radius: 70px 70px 30px 30px;
  }


  .project-info__container_content_logo {
    padding: 27px 0 33px 15px;
    border-radius: 30px 3px 200px 3px;
  }
}

@media(max-width: 1000px) {
  .project-info__text {
    padding: 36px 0;
    max-width: 260px;
  }
}
