.choosing-mentor__image {
  display: block;
  width: 100%;
  height: 394px;
  margin-top: 70px;
  margin-bottom: 15px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1300px) {
  .choosing-mentor__image {
    margin-top: 62px;
  }
}

@media (max-width: 800px) {
  .choosing-mentor__image {
    margin-top: 39px;
    height: 142px;
  }
}
