.choosing-mentor__image {
  width: 100%;
  height: 394px;
  padding-top: 70px;
  padding-bottom: 15px;
  object-fit: cover;
  object-position: top center;
  border-radius: 15px;
}

@media (max-width: 1300px) {
  .choosing-mentor__image {
    padding-top: 62px;
  }
}

@media (max-width: 800px) {
  .choosing-mentor__image {
    padding-top: 39px;
    height: 142px;
  }
}
