.menu-button {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-size: 29px 29px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-buttons__item:first-of-type {
  padding-right: 15px;
  border-right: .7px solid #a7a6a6;
}

.menu-buttons__item:last-of-type {
  padding-left: 15px;
}
