.calendar__section-title {
  max-width: 320px;
  text-align: left;
}

@media (max-width: 1300px) {
  .calendar__section-title {
    max-width: 246px;
  }
}

@media (max-width: 450px) {
  .calendar__section-title {
    max-width: 166px;
  }
}
