.main-article {
  padding: 120px 0 30px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1300px) {
  .main-article {
    padding: 30px 0 15px;
    justify-content: space-between;
  }
}
