.slider {
  padding: 30px 10px 30px 30px;
  border-radius: 30px;
  background-color: #fff;
  flex-basis: 65%;
  flex-grow: 2;
}

@media (max-width: 1300px) {
  .slider {
    padding: 30px 7px 30px 15px;
  }
}
