.slider__text {
  margin: 0;
  padding-top: 10px;
  padding-right: 15px;
  font-family: 'PT Root UI';
  font-size: 18px;
  line-height: 1.4;
  font-weight: normal;
  color: #000;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 0;

}

::-webkit-scrollbar-thumb {
  background-color: #e8e6e6;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .slider__text {
    padding-top: 5px;
    padding-right: 5px;
    font-size: 15px;
  }
}


