.footer-subtitle {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: .2px;
  text-align: center;
  color: #224cff;
  transition: color .2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .footer-subtitle {
    font-size: 12px;
    line-height: 1.4;
  }
}

.footer-subtitle:hover,
.footer-subtitle:focus {
  color: #2e2468;
}
